@model PartyProductMVC.Models.AssignParty
@{
    ViewBag.Title = "AssignAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignAddEdit</h2>

@using (Html.BeginForm("AssignSave", "AssignParty"))
{
    @Html.HiddenFor(model => Model.AsId)


    <div class="form-group">
        @Html.LabelFor(model => model.Party.PartyId, "Select Patry:")
        @Html.DropDownListFor(model => model.Party.PartyId, new SelectList(ViewBag.ListParty, "PartyId", "PartyName"), "select Party", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Product.ProductId, "Select Product:")
        @Html.DropDownListFor(model => model.Product.ProductId, new SelectList(ViewBag.ListProduct, "ProductId", "ProductName"), "Select Product", new { @class = "form-control" })
    </div>
    <button class="btn btn-info mt-4">Submit</button>
}