@model IEnumerable<PartyProductMVC.Models.ProductRate>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Rate</h2>
<a href="ProductRate/Add" class="btn btn-info">Add Product Rate</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Rate</th>
            <th scope="col">Date</th>
            <th scope="col">E</th>
            <th scope="col">D</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var productRate in Model)
        {
            <tr>
                <td>@productRate.Product.ProductName</td>
                <td>@productRate.Rate</td>
                <td>@productRate.DateOfRate</td>
                <td>@Html.ActionLink("Edit", "Edit", "ProductRate", new { id = productRate.ProductRateId }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "ProductRate", new { id = productRate.ProductRateId }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
            </tr>
        }
    </tbody>
</table>


