@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<h2>Invoice</h2>
<div class="row">
    <div class="col-md-4">
        <form id="invoiceForm">

            
            @*@Html.Hidden("InvoiceId")*@

            <div class="form-group">
                @Html.Label("PartyName", "Select Party", new { @class = "col-form-label" })
                @Html.DropDownList("PartyName", new SelectList(ViewBag.partyName, "PartyName", "PartyName"), "Select Party", new { @class = "form-control", onchange = "GetProduct()" })
            </div>

            <div class="form-group">
                @Html.Label("ProductName", "Select Product", new { @class = "col-form-label" })
                @Html.DropDownList("ProductName", Enumerable.Empty<SelectListItem>(), "Select Product", new { @class = "form-control", onchange = "GetProductRate()" })
            </div>

            <div class="form-group">
                @Html.Label("RateOfProduct", new { @class = "col-form-label" })
                @Html.TextBox("RateOfProduct", "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Quantity", new { @class = "col-form-label" })
                @Html.TextBox("Quantity", "", new { @class = "form-control" })
            </div>

          
            <button type="submit" id="submitInvoice" class="btn btn-info mt-4">Submit</button>
        </form>
    </div>

    <br />
    <div class="col-md-8">
        <div class="table-container">
            <h2>Table Data</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>Party</td>
                        <td>Product</td>
                        <td>Rate</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>Grand Total: <span id="grandTotal">0.00</span> </div>
        </div>
        <button id="CloseInvoice" class="btn btn-danger mt-4">Close Invoice</button>

    </div>
</div>

<script type="text/javascript">
   function GetProduct() {
        var partyName = $("#PartyName").val();
        $.ajax({
            url: '@Url.Action("GetProduct", "Invoice")',
            type: 'GET',
            data: { partyName: partyName },
            success: function (ProductName) {
                $("#ProductName").empty();
                $.each(ProductName, function (index, item) {
                    $("#ProductName").append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
                GetProductRate();
            }
        });
   }

     function GetProductRate() {
        var productName = $("#ProductName").val();
        $.ajax({
            url: '@Url.Action("GetProductRate", "Invoice")',
            type: 'GET',
            data: { productName: productName },
            success: function (productRate) {
                $("#RateOfProduct").val(productRate.Rate);
            }
        });
    }

    $(document).ready(function () {

        var Grandtotal = 0;

        $("#CloseInvoice").click(function () {
            location.reload();
        })

        $("#submitInvoice").click(function (e) {
            e.preventDefault();
            $("#PartyName").prop("disabled", false);
            var formData = $("#invoiceForm").serializeArray();
            console.log(formData)

            $.ajax({
                url: '@Url.Action("AddInvoice", "Invoice")',
                type: 'POST',
                data: formData,
                success: function () {
                    $("#PartyName").prop("disabled", true);
                    updateTable(formData);
                }
            });

            //updateTable(formData);
        });

        function updateTable(formData) {
            var partyName = formData.find(item => item.name === 'PartyName').value;
            var productName = formData.find(item => item.name === 'ProductName').value;
            var currentRate = formData.find(item => item.name === 'RateOfProduct').value;
            var quantity = formData.find(item => item.name === 'Quantity').value;
            var total = currentRate * quantity;
            Grandtotal += total;
            // Append a new row to the table with the submitted data
            var newRow = '<tr><td>' + partyName + '</td><td>' + productName + '</td><td>' + currentRate + '</td><td>' + quantity + '</td><td>' + total + '</td></tr> ';
            $("table tbody").append(newRow);
            $("#grandTotal").html(Grandtotal);
        }
    });

</script>